*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

.env
# Can probably remove
# TODO: Make a script that takes task id, desired name and deploys to ecr
deploy-docker-image.sh